{% extends 'base.html' %} {% block title %} User {% endblock %} {% block content
%} {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
messages%}
<p>{{msg}}</p>
{% endfor %} {% endif %} {% endwith %}
<p>Hello, {{user}}</p>
<a href="/create_member">Create Member</a>
<a href="/update_member">Update Member</a>
<a href="/delete_member">Delete Member</a>

<br>
<hr class="solid">

<table cellpadding="7">
    <TR>
        <TD class="c1">GYM ID</TD>
        <TD class="c2">USER'S NAME</TD>
        <TD class="c3">AGE</TD>
        <TD class="c4">SEX</TD>
    </TR>
{% for users in gym_member_list %}
<TR>
    <TD class="c1">{{users["gym_id"]}}</TD>
    <TD class="c2">{{users["name"]}}</TD>
    <TD class="c3">{{users["age"]}}</TD>
    <TD class="c4">{{users["sex"]}}</TD>
</TR>
{% endfor %}
</table>


{% endblock %}


