<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>CRUD Lifter Homepage</title>
    </head>
    <body>
        <div class="css.lifter-style.center">
            <a href="/create_member">Create Member</a>
            <a href="/delete_member">Delete Member</a>
            <div>
                <p>These are all the members:</p>
                {% for member in data %}
                    <td>{{ member['gym_id'] }}, {{ member['name'] }}, {{ member['age'] }}, {{ member['sex'] }}</td>
                    <br>
                {% endfor %}
            </div>
        </div>
        <!-- Jinja templating code that we can redefine for other pages -->
        
    </body>
</html>
